#sign-in{
    background-color: $secundary2 !important;
    border-color: $secundary2 !important;
}

#register-user{
    background-color: $secundary2 !important;
    border-color: $secundary2 !important;
}

.btn-brand{
    background-color: $secundary1 !important;
    border-color: $secundary1 !important;
}